= link_to 'order', new_order_path
%br
- if current_user.has_role?(:customer)
   = "Customer's orders"
   %br
   = render 'customer_orders', orders: @orders
- else
   = render 'orders_to_deliver', orders: @orders
