= link_to 'order', new_order_path

%table
  %tbody
    %tr
      %td Order:
      %td Status:
      %td Created_at:
    - @orders.each do |order|
      %tr.order
        %td= order.item_desc
        %td= order.status
        %td= order.created_at
